<h2><%=l(:ipf_wt_imp_xls_label_issue_importer)%></h2>

<% form_tag({:controller => 'IpfWorktimeXlsImporter', :action => 'select',:project_id => @project}, {:multipart => true}) do %>
  	
	<p><label><%=l(:ipf_wt_imp_xls_label_upload_notice)%></label><br/>
	<%= file_field_tag 'file', :size => 60%></p>

<!-- 
    <fieldset class="box"><legend><%= l(:ipf_wt_imp_xls_label_upload_sheet) %></legend>
		<p><label><%=l(:ipf_wt_imp_xls_label_upload_sheetno)%></label>
		    <%= select_tag "sheetno", @opt %>
		</p>
	</fieldset>	
-->
	<%= submit_tag l(:ipf_wt_imp_xls_button_upload) %>
<% end %>

